@font-face {
  font-family: Figtree;
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}
body,
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
.maincontainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(47, 88%, 63%);
}
.conteiner {
  width: 50%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);

  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 7px 6px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 7px 6px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 7px 6px 0px 0px rgba(0, 0, 0, 1);
}
.MainImage {
  display: flex;
  width: 100%;
  justify-content: center;
}
.aprendendo {
  font-weight: 900;
  background-color: hsl(47, 88%, 63%);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0px 15px 0px;
}
.publicacao {
  margin: 15px 0px 15px 0px;
}
.titulo {
  font-size: 25px;
  font-weight: 900;
}
.titulo:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.pessoa {
  display: flex;
  align-items: center;
}
.imagem {
  margin-right: 15px;
}
.nome {
  font-weight: 800;
}
main {
  height: 100%;
}
.titulo {
  font-size: 15px;
  margin: -7px;
}
